.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #257fd3;
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.whatsapp-button:hover {
  background-color: #128C7E;
  color: #fff;
}
